{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="mx-auto" style="width: 300px;">
<h1 class="display-1">Log In</h1>
</div>

<div class="mx-auto" style="width: 614px;">
<form method="post">
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" name="lemail" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" name="lpass" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>
  
  <button type="submit" class="btn btn-primary mx-auto" style="width: 100px; margin: 10px">Submit</button>
</form>
</div>
<h1>{{s}}</h1>
<h1>{{us}}</h1>

{% endblock %}